.tools/InnoRT/
!.x_srcs/IconPatcher
.x_srcs/IconPatcher/output/*.exe
.x_srcs/**/*.dll
.x_srcs/**/*.ico
.x_srcs/Icons
.x_srcs/Installer
.x_srcs/Profiles
.x_srcs/Screens
.x_srcs/Scripts
.x_srcs/Skins
.x_srcs/UserSet
!.x_srcs/ini
!.x_srcs/web
Resources/
!Resources/*.isl
!Resources/*.rtf
Sources/**/*.7z
Sources/**/*.dll
Sources/**/*.exe
Sources/**/*.ico
Sources/**/*.mp3
Sources/**/*.wav
Sources/**/*.swf
output/
x64/
x86/
Sources.7z
GenerateCheck.iss
*.bmp
*.gif
*.png