.tools/InnoRT/
.x_srcs/*
.x_srcs/xx_srcs/
!.x_srcs/IconPatcher
.x_srcs/IconPatcher/output/*.exe
!.x_srcs/ini
!.x_srcs/web
!xx_srcs.bat
!ToDo.iss
Resources/
!Resources/*.isl
!Resources/*.rtf
*.bmp
*.gif
*.png
output/
x64/
x86/