.name {font-size: 11px; padding-top: 5px;}

.text {font-size: 11px;}

.date {font-size: 10px; padding-top: 5px;}

.time {font-size: 10px;}

.avatar img {height: 26;}

.avatar object {width: 26; height: 26;}