/*--- Global ---*/

.Link-Text, .tzerlink {
	color: #98BFE7;
}

input {
	background: #506779;
	border-top: 1px solid #748DA3;
	border-left: 1px solid #748DA3;
	border-bottom: 1px solid #25323E;
	border-right: 1px solid #25323E;
	color: #D0E0EA;
}

html {
	scrollbar-face-color: #506779;
	scrollbar-highlight-color: #506779;
	scrollbar-shadow-color: #506779;
	scrollbar-arrow-color: #D0E0EA;
	scrollbar-3dlight-color: #748DA3;
	scrollbar-darkshadow-color: #25323E;
	scrollbar-track-color: #405261;
	background: url(Glamour_Aqua_Dark/picture.png) fixed no-repeat bottom right;
	background-color: #405261;
	overflow: auto;
	padding: 0px 0px 0px 0px;
	margin: 0;
	font-size: 13px;
	color: #D0E0EA;
	zoom: 0 !important;
}

a, a:active {
	color: #98BFE7;
	text-decoration: none;
	font-weight: normal;
	cursor:pointer;
}

a:visited {
	color: #E7BF98;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #98BFE7;
	text-decoration: underline;
	font-weight: normal;
}

div {
	width: auto;
	word-wrap: break-word;
}

.img {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
}

.head {
/*	border-bottom: 1px dotted;*/
}

.date {
	font-weight: bold;
	float: right;
	font-size: 11px;
	padding: 3px 5px 0px 5px;
}

.name {
	font-weight: bold;
	padding: 3px 5px 0px 5px;
}

.time {
	color: #8EA5B0;
	font-weight: normal;
	float: right;
	font-size: 11px;
}

.text {
/*	word-break: break-all;*/
	padding: 3px 5px 3px 5px;
	overflow-x: auto;
	overflow-y: hidden;
}

div.avatar {
	display: none;
	float: left;
	padding: 0px 0px 0px 0px;
}

.avatar img {
	height: 32;
}

.code {
	border: 1px dashed #748DA3;
	margin: -1px;
}

.MessageIn, .MessageOut, .hMessageIn, .hMessageOut, .frame, .Status, .hStatus, .FileIn, .hFileIn, .FileOut, .hFileOut, .URL, .hURL {
	border-top: 1px solid #748DA3;
	border-bottom: 1px solid #25323E;
}

.MessageInGroupInner, .hMessageInGroupInner, .MessageOutGroupInner, .hMessageOutGroupInner {
	border-top: 1px dotted #748DA3;
}

.hMessageIn, .hMessageOut, .history, .hStatus, .hFileIn, .hFileOut, .hURL {
	background: url(Glamour_Aqua_Dark/history.png) no-repeat bottom right;
}


/* -------------------- incoming messagebox -------------------- */

.in .head {
	color: #DFAA75;
	background-image: url(Glamour_Aqua_Dark/in.png);
}

.contentMessageIn, .contenthMessageIn, .contentMessageInGroupStart, .MessageInGroupInner, .contenthMessageInGroupStart, .hMessageInGroupInner {
	background-image: url(Glamour_Aqua_Dark/in.png);
}

/* -------------------- outgoing messagebox -------------------- */

.out .head {
	color: #75AADF;
	background-image: url(Glamour_Aqua_Dark/out.png);
}

.contentMessageOut, .contenthMessageOut, .contentMessageOutGroupStart, .MessageOutGroupInner, .contenthMessageOutGroupStart, .hMessageOutGroupInner {
	background-image: url(Glamour_Aqua_Dark/out.png);
}

/* -------------------- status support -------------------- */

.status .head {
	color: #DFAA75;
	background-image: url(Glamour_Aqua_Dark/status.png);
}

.contentStatus, .contenthStatus {
	color: #E7BF98;
	background-image: url(Glamour_Aqua_Dark/status.png);
}

.contentStatus .time, .contenthStatus .time {
	color: #C79F78;
}

/* -------------------- file transfer support -------------------- */

.infile .head, .outfile .head {
	color: #8BC26D;
	background-image: url(Glamour_Aqua_Dark/file.png);
}

.contentFileIn, .contenthFileIn, .contentFileOut, .contenthFileOut {
	color: #A3CF8B;
	background-image: url(Glamour_Aqua_Dark/file.png);
}

.contentFileIn .time, .contenthFileIn .time, .contentFileOut .time, .contenthFileOut .time {
	color: #82A76D;
}

/* -------------------- URL support -------------------- */

.inurl .head {
	color: #75AADF;
	background-image: url(Glamour_Aqua_Dark/url.png);
}

.contentURL, .contenthURL {
	color: #98BFE7;
	background-image: url(Glamour_Aqua_Dark/url.png);
}

.contentURL .time, .contenthURL .time {
	color: #789FC7;
}