/*--- Global ---*/

.Link-Text, .tzerlink {
	color: #285893;
}

input {
	background: #C1C1C1;
	border-top: 1px solid #F4F4F4;
	border-left: 1px solid #F4F4F4;
	border-bottom: 1px solid #787979;
	border-right: 1px solid #787979;
	color: #585858;
}

html {
	scrollbar-face-color: #C1C1C1;
	scrollbar-highlight-color: #C1C1C1;
	scrollbar-shadow-color: #C1C1C1;
	scrollbar-arrow-color: #585858;
	scrollbar-3dlight-color: #F4F4F4;
	scrollbar-darkshadow-color: #787979;
	scrollbar-track-color: #EDEDEF;
	background: url(Glamour_Light/picture.png) fixed no-repeat bottom right;
	background-color: #EDEDEF;
	overflow: auto;
	padding: 0px 0px 0px 0px;
	margin: 0;
	font-size: 13px;
	color: #585858;
	zoom: 0 !important;
}

a, a:active {
	color: #285893;
	text-decoration: none;
	font-weight: normal;
	cursor:pointer;
}

a:visited {
	color: #935528;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #285893;
	text-decoration: underline;
	font-weight: normal;
}

div {
	width: auto;
	word-wrap: break-word;
}

.img {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
}

/*.head {
	border-bottom: 1px dotted;
}*/

.date {
	font-weight: bold;
	float: right;
	font-size: 11px;
	padding: 3px 5px 0px 5px;
}

.name {
	font-weight: bold;
	padding: 3px 5px 0px 5px;
}

.time {
	color: #808080;
	font-weight: normal;
	float: right;
	font-size: 11px;
}

.text {
/*	word-break: break-all;*/
	padding: 3px 5px 3px 5px;
	overflow-x: auto;
	overflow-y: hidden;
}

div.avatar {
	display: none;
	float: left;
	padding: 0px 0px 0px 0px;
}

.avatar img {
	height: 32;
}

.code {
	border: 1px dashed #B4B4B4;
	margin: -1px;
}

.MessageIn, .hMessageIn, .frame_MessageInGroupStart, .frame_hMessageInGroupStart {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #949494;

}

.MessageOut, .hMessageOut, .frame_MessageOutGroupStart, .frame_hMessageOutGroupStart {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #949494;

}

.MessageInGroupInner, .hMessageInGroupInner, .MessageOutGroupInner, .hMessageOutGroupInner {
	border-top: 1px dotted #949494;
}

.hMessageIn, .hMessageOut, .frame_hMessageInGroupStart, .frame_hMessageOutGroupStart, .hStatus, .hFileIn, .hFileOut, .hURL {
	background: url(Glamour_Light/history.png) no-repeat bottom right;
}

/* -------------------- incoming messagebox -------------------- */

.in .head {
	color: #935528;
	background-image: url(Glamour_Light/in.png);
}

.contentMessageIn, .contenthMessageIn, .contentMessageInGroupStart, .MessageInGroupInner, .contenthMessageInGroupStart, .hMessageInGroupInner {
	background-image: url(Glamour_Light/in.png);
}

/* -------------------- outgoing messagebox -------------------- */

.out .head {
	color: #285893;
	background-image: url(Glamour_Light/out.png);
}

.contentMessageOut, .contenthMessageOut, .contentMessageOutGroupStart, .MessageOutGroupInner, .contenthMessageOutGroupStart, .hMessageOutGroupInner {
	background-image: url(Glamour_Light/out.png);
}

/* -------------------- status support -------------------- */

.status .head {
	color: #935528;
	background-image: url(Glamour_Light/status.png);
}

.contentStatus, .contenthStatus {
	color: #935528;
	background-image: url(Glamour_Light/status.png);
}

.contentStatus .time, .contenthStatus .time {
	color: #A8744D;
}

.Status, .hStatus {
	border-top: 1px solid #F9F4F1;
	border-bottom: 1px solid #AD9F94;
}

/* -------------------- file transfer support -------------------- */

.infile .head, .outfile .head {
	color: #286F28;
	background-image: url(Glamour_Light/file.png);
}

.contentFileIn, .contenthFileIn, .contentFileOut, .contenthFileOut {
	color: #286F28;
	background-image: url(Glamour_Light/file.png);
}

.contentFileIn .time, .contenthFileIn .time, .contentFileOut .time, .contenthFileOut .time {
	color: #579357;
}

.FileIn, .hFileIn, .FileOut, .hFileOut {
	border-top: 1px solid #F2F8F2;
	border-bottom: 1px solid #91A292;
}

/* -------------------- URL support -------------------- */

.inurl .head, .outurl .head {
	color: #285893;
	background-image: url(Glamour_Light/url.png);
}

.contentURL, .contenthURL {
	color: #285893;
	background-image: url(Glamour_Light/url.png);
}

.contentURL .time, .contenthURL .time {
	color: #6480A2;
}

.URL, .hURL {
	border-top: 1px solid #F2F5F9;
	border-bottom: 1px solid #949EAD;
}