/*--- Global ---*/

.Link-Text, .tzerlink {
	color: #98BBE7;
}

input {
	background: #313131;
	border-left: 1px solid #545454;
	border-top: 1px solid #545454;
	border-right: 1px solid #141414;
	border-bottom: 1px solid #141414;
	color: #C0C0C0;
}

html {
	scrollbar-face-color: #313131;
	scrollbar-highlight-color: #313131;
	scrollbar-shadow-color: #313131;
	scrollbar-arrow-color: #C0C0C0;
	scrollbar-3dlight-color: #545454;
	scrollbar-darkshadow-color: #141414;
	scrollbar-track-color: #454545;
	background: url(Dark.png) fixed no-repeat bottom right;
	background-color: #454545;
	overflow: auto;
	padding: 0px 0px 0px 0px;
	margin: 0;
	font-size: 13px;
	color: #C0C0C0;
	zoom: 0 !important;
}

a, a:active {
	color: #98BBE7;
	text-decoration: none;
	font-weight: normal;
	cursor:pointer;
}

a:visited {
	color: #E4BA8F;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #98BBE7;
	text-decoration: underline;
	font-weight: normal;
}

div {
	width: auto;
	word-wrap: break-word;
}

.img {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
}

/*.head {
	border-bottom: 1px dotted;
}*/

.date {
	font-weight: bold;
	float: right;
	font-size: 11px;
	padding: 3px 5px 0px 5px;
}

.name {
	font-weight: bold;
	padding: 3px 5px 0px 5px;
}

.time {
	color: #808080;
	font-weight: normal;
	float: right;
	font-size: 11px;
}

.text {
/*	word-break: break-all;*/
	padding: 3px 5px 3px 5px;
	overflow-x: auto;
	overflow-y: hidden;
}

div.avatar {
	display: none;
	float: left;
	padding: 0px 0px 0px 0px;
}

.avatar img {
	height: 32;
}

.code {
	border: 1px dashed #646464;
	margin: -1px;
}

.MessageIn, .hMessageIn, .frame_MessageInGroupStart, .frame_hMessageInGroupStart {
	border-left: 1px solid #5A5A5A;
	border-top: 1px solid #5A5A5A;
	border-right: 1px solid #222222;
	border-bottom: 1px solid #222222;
}

.MessageOut, .hMessageOut, .frame_MessageOutGroupStart, .frame_hMessageOutGroupStart {
	border-left: 1px solid #4F4F4F;
	border-top: 1px solid #4F4F4F;
	border-right: 1px solid #1F1F1F;
	border-bottom: 1px solid #1F1F1F;
}

.MessageInGroupInner, .hMessageInGroupInner, .MessageOutGroupInner, .hMessageOutGroupInner {
	border-top: 1px dotted #646464;
}

.hMessageIn, .hMessageOut, .frame_hMessageInGroupStart, .frame_hMessageOutGroupStart, .hStatus, .hFileIn, .hFileOut, .hURL {
	background: url(Textolite_Gray_Dark/history.png) no-repeat bottom right;
}

/* -------------------- incoming messagebox -------------------- */

.in .head {
	color: #B5784A;
	background-image: url(Textolite_Gray_Dark/in.png);
}

.contentMessageIn, .contenthMessageIn, .contentMessageInGroupStart, .MessageInGroupInner, .contenthMessageInGroupStart, .hMessageInGroupInner {
	background-image: url(Textolite_Gray_Dark/in.png);
}

/* -------------------- outgoing messagebox -------------------- */

.out .head {
	color: #618BBE;
	background-image: url(Textolite_Gray_Dark/out.png);
}

.contentMessageOut, .contenthMessageOut, .contentMessageOutGroupStart, .MessageOutGroupInner, .contenthMessageOutGroupStart, .hMessageOutGroupInner {
	background-image: url(Textolite_Gray_Dark/out.png);
}

/* -------------------- status support -------------------- */

.status .head {
	color: #B5784A;
	background-image: url(Textolite_Gray_Dark/status.png);
}

.contentStatus, .contenthStatus {
	color: #E4BA8F;
	background-image: url(Textolite_Gray_Dark/status.png);
}

.contentStatus .time, .contenthStatus .time {
	color: #B98966;
}

.Status, .hStatus {
	border-left: 1px solid #655A52;
	border-top: 1px solid #655A52;
	border-right: 1px solid #25211F;
	border-bottom: 1px solid #25211F;
}

/* -------------------- file transfer support -------------------- */

.infile .head, .outfile .head {
	color: #699C4E;
	background-image: url(Textolite_Gray_Dark/file.png);
}

.contentFileIn, .contenthFileIn, .contentFileOut, .contenthFileOut {
	color: #A3CF8B;
	background-image: url(Textolite_Gray_Dark/file.png);
}

.contentFileIn .time, .contenthFileIn .time, .contentFileOut .time, .contenthFileOut .time {
	color: #82A76D;
}

.FileIn, .hFileIn, .FileOut, .hFileOut {
	border-left: 1px solid #536253;
	border-top: 1px solid #536253;
	border-right: 1px solid #202420;
	border-bottom: 1px solid #202420;
}

/* -------------------- URL support -------------------- */

.inurl .head, .outurl .head {
	color: #618BBE;
	background-image: url(Textolite_Gray_Dark/url.png);
}

.contentURL, .contenthURL {
	color: #98BBE7;
	background-image: url(Textolite_Gray_Dark/url.png);
}

.contentURL .time, .contenthURL .time {
	color: #6D91BC;
}

.URL, .hURL {
	border-left: 1px solid #525A65;
	border-top: 1px solid #525A65;
	border-right: 1px solid #1F2328;
	border-bottom: 1px solid #1F2328;
}