/*--- Global ---*/

.Link-Text, .tzerlink {
	color: #98BBE7;
}

input {
	background: #4B5446;
	border-left: 1px solid #727B6D;
	border-top: 1px solid #727B6D;
	border-right: 1px solid #131811;
	border-bottom: 1px solid #131811;
	color: #FFFFFF;
}

html {
	scrollbar-face-color: #4B5446;
	scrollbar-highlight-color: #4B5446;
	scrollbar-shadow-color: #4B5446;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-3dlight-color: #727B6D;
	scrollbar-darkshadow-color: #131811;
	scrollbar-track-color: #3D4238;
	background: url(Dark.png) fixed no-repeat bottom right;
	background-color: #3D4238;
	overflow: auto;
	padding: 0px 0px 0px 0px;
	margin: 0;
	font-size: 13px;
	color: #C4C8C1;
	zoom: 0 !important;
}

a, a:active {
	color: #98BBE7;
	text-decoration: none;
	font-weight: normal;
	cursor:pointer;
}

a:visited {
	color: #E4BA8F;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #98BBE7;
	text-decoration: underline;
	font-weight: normal;
}

div {
	width: auto;
	word-wrap: break-word;
}

.img {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
}

/*.head {
	border-bottom: 1px dotted;
}*/

.date {
	font-weight: bold;
	float: right;
	font-size: 11px;
	padding: 3px 5px 0px 5px;
}

.name {
	font-weight: bold;
	padding: 3px 5px 0px 5px;
}

.time {
	color: #697164;
	font-weight: normal;
	float: right;
	font-size: 11px;
}

.text {
/*	word-break: break-all;*/
	padding: 3px 5px 3px 5px;
	overflow-x: auto;
	overflow-y: hidden;
}

div.avatar {
	display: none;
	float: left;
	padding: 0px 0px 0px 0px;
}

.avatar img {
	height: 32;
}

.code {
	border: 1px dashed #555C50;
	margin: -1px;
}

.MessageIn, .hMessageIn, .frame_MessageInGroupStart, .frame_hMessageInGroupStart {
	border-left: 1px solid #555C50;
	border-top: 1px solid #555C50;
	border-right: 1px solid #131811;
	border-bottom: 1px solid #131811;
}

.MessageOut, .hMessageOut, .frame_MessageOutGroupStart, .frame_hMessageOutGroupStart {
	border-left: 1px solid #555C50;
	border-top: 1px solid #555C50;
	border-right: 1px solid #131811;
	border-bottom: 1px solid #131811;
}

.MessageInGroupInner, .hMessageInGroupInner, .MessageOutGroupInner, .hMessageOutGroupInner {
	border-top: 1px dotted #555C50;
}

.hMessageIn, .hMessageOut, .frame_hMessageInGroupStart, .frame_hMessageOutGroupStart, .hStatus, .hFileIn, .hFileOut, .hURL {
	background: url(WinStyle_Classic_Dark/history.png) no-repeat bottom right;
}

/* -------------------- incoming messagebox -------------------- */

.in .head {
	color: #DFA375;
	background-image: url(WinStyle_Classic_Dark/in.png);
}

.contentMessageIn, .contenthMessageIn, .contentMessageInGroupStart, .MessageInGroupInner, .contenthMessageInGroupStart, .hMessageInGroupInner {
	background-image: url(WinStyle_Classic_Dark/in.png);
}

/* -------------------- outgoing messagebox -------------------- */

.out .head {
	color: #8EB6E6;
	background-image: url(WinStyle_Classic_Dark/out.png);
}

.contentMessageOut, .contenthMessageOut, .contentMessageOutGroupStart, .MessageOutGroupInner, .contenthMessageOutGroupStart, .hMessageOutGroupInner {
	background-image: url(WinStyle_Classic_Dark/out.png);
}

/* -------------------- status support -------------------- */

.status .head {
	color: #DFA375;
	background-image: url(WinStyle_Classic_Dark/status.png);
}

.contentStatus, .contenthStatus {
	color: #E4BA8F;
	background-image: url(WinStyle_Classic_Dark/status.png);
}

.contentStatus .time, .contenthStatus .time {
	color: #B98966;
}

.Status, .hStatus {
	border-left: 1px solid #625344;
	border-top: 1px solid #625344;
	border-right: 1px solid #0F0D0B;
	border-bottom: 1px solid #0F0D0B;
}

/* -------------------- file transfer support -------------------- */

.infile .head, .outfile .head {
	color: #86CC86;
	background-image: url(WinStyle_Classic_Dark/file.png);
}

.contentFileIn, .contenthFileIn, .contentFileOut, .contenthFileOut {
	color: #A3CF8B;
	background-image: url(WinStyle_Classic_Dark/file.png);
}

.contentFileIn .time, .contenthFileIn .time, .contentFileOut .time, .contenthFileOut .time {
	color: #82A76D;
}

.FileIn, .hFileIn, .FileOut, .hFileOut {
	border-left: 1px solid #4B5C4B;
	border-top: 1px solid #4B5C4B;
	border-right: 1px solid #0C0E0C;
	border-bottom: 1px solid #0C0E0C;
}

/* -------------------- URL support -------------------- */

.inurl .head, .outurl .head {
	color: #8EB6E6;
	background-image: url(WinStyle_Classic_Dark/url.png);
}

.contentURL, .contenthURL {
	color: #98BBE7;
	background-image: url(WinStyle_Classic_Dark/url.png);
}

.contentURL .time, .contenthURL .time {
	color: #6D91BC;
}

.URL, .hURL {
	border-left: 1px solid #475361;
	border-top: 1px solid #475361;
	border-right: 1px solid #0A0C10;
	border-bottom: 1px solid #0A0C10;
}