/* Version 1.0.0.3 Veränderung für den TVButton eingebracht
/* Version 1.0.0.2 die Klassen TVText und TVText2 wurden nun endgültig gelöscht*/
/* Version 1.0.0.1 die Klassen TVText und TVText2 wurden durch TVOpener ersetzt
/* Version 1.0.0.0 */

/* Grundeinstellung */
/*.body				{cursor:url(../!tools/cursor/comic_left_ptr.cur);}*/

/* Textveränderungen */
.Link-foto			{text-decoration: none; height:auto;}
.Link-foto2			{text-decoration: underline; height:auto;}
.Link-Text			{text-decoration: none;}
.Link-Text2			{text-decoration: underline;}
.Mail-Text			{text-decoration: none;}
.Mail-Text2			{text-decoration: underline;}
.tzerlink			{text-decoration: none; cursor: pointer;}
.tzerlink2			{text-decoration: underline; cursor: pointer;}

/* Bereichsveränderungen */
.imagebox			{text-align:center; filter: alpha(Opacity=70,  FinishOpacity=70);  border-width:0px;}
.imagebox2			{text-align:center; filter: alpha(Opacity=100, FinishOpacity=100); border-width:0px;}
.swfbox				{text-align:center; border-style:solid; border-width:0px; height:auto;}
.videobox			{text-align:center; border-style:solid; border-width:0px;}
.imagebox_filetransfer		{display:inline; vertical-align:middle; text-align:center; filter: alpha(Opacity=70, FinishOpacity=70); border-width:1px;}
.imagebox2_filetransfer		{display:none; text-align:center; filter: alpha(Opacity=100, FinishOpacity=100); border-width:1px;}
.otherbox			{display:none; text-align:center; border-style:solid; border-width:0px;}
.tzerbildbereich		{text-align: center;}

/* Bildveränderungen */
.bildvorschau			{height:120px; border-style:solid; border-width:0px; margin-bottom:0px; margin-top:0px; margin-left:0px; margin-right:0px;}
.icons				{height: 18px; margin-bottom: 0px; margin-top:2px; margin-left:0px; margin-right:0px; cursor: pointer;}
.textimages			{margin-bottom:0px; margin-top:0px; margin-left:0px; margin-right:0px;}
.tzerbild			{text-align:center; margin-bottom:0px; margin-top:0px; margin-left:0px; margin-right:0px; cursor: pointer;}
.icons_filetypes		{height:16px; margin-bottom:0px; margin-top:0px; margin-left:0px; margin-right:0px; cursor: pointer;}
.tvbutton			{height:32px;}
.icon				{margin: 0px 2px 0px 2px;}

/* Menu */
div#fixme			{position: absolute; left: 0px; top: 0px; width: 600px;}
body > div#fixme		{position: fixed;}

/* Fonts */
input				{width: 15px; height: 15px; font-size: 8px; margin: 0px 0px 0px 0px; cursor: pointer;}
#fix				{right: 0px; top: 0px; width: 15px; position: absolute; top: expression(eval(document.body.scrollTop));}

/*mailru*/
center object			{height: auto;}
