/*--- Global ---*/

.Link-Text, .tzerlink {
	color: #74B8E6;
}

input {
	background: #000000;
	border-top: 1px solid #2C2C2C;
	border-left: 1px solid #2C2C2C;
	border-bottom: 1px solid #2C2C2C;
	border-right: 1px solid #2C2C2C;
	color: #D3D3D3;
}

html {
	scrollbar-face-color: #000000;
	scrollbar-highlight-color: #000000;
	scrollbar-shadow-color: #000000;
	scrollbar-arrow-color: #D3D3D3;
	scrollbar-base-color: #2C2C2C;
	scrollbar-darkshadow-color: #2C2C2C;
	background: url(Dark.png) fixed no-repeat bottom right;
	background-color: #000000;
	overflow: auto;
	padding: 0px 0px 0px 0px;
	margin: 0;
	font-size: 13px;
	color: Silver;
	zoom: 0 !important;
}

a, a:active {
	color: #74B8E6;
	text-decoration: none;
	font-weight: normal;
	cursor:pointer;
}

a:visited {
	color: #C87046;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #74B8E6;
	text-decoration: underline;
	font-weight: normal;
}

div {
	width: auto;
	word-wrap: break-word;
}

.img {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
}

.head {
	border-bottom: 1px dotted;
}

.date {
	font-weight: bold;
	float: right;
	font-size: 11px;
	padding: 3px 5px 0px 5px;
}

.name {
	font-weight: bold;
	padding: 3px 5px 0px 5px;
}

.time {
	color: Gray;
	font-weight: normal;
	float: right;
	font-size: 11px;
}

.text {
/*	word-break: break-all;*/
	padding: 3px 5px 3px 5px;
	overflow-x: auto;
	overflow-y: hidden;
}

div.avatar {
	display: none;
	float: left;
	padding: 0px 0px 0px 0px;
}

.avatar img {
	height: 32;
}

.code {
	border: 1px dashed #2C2C2C;
	margin: -1px;
}

.MessageIn, .MessageOut, .hMessageIn, .hMessageOut, .frame, .Status, .hStatus, .FileIn, .hFileIn, .FileOut, .hFileOut, .URL, .hURL {
	/*border-top: 1px solid #505050;
	border-bottom: 1px solid #151414;*/
}

.MessageInGroupInner, .hMessageInGroupInner, .MessageOutGroupInner, .hMessageOutGroupInner {
	border-top: 1px dotted #2C2C2C;
}

.hMessageIn, .hMessageOut, .history, .hStatus, .hFileIn, .hFileOut, .hURL {
	background: url(Surface_Black/history.png) no-repeat bottom right;
}


/* -------------------- incoming messagebox -------------------- */

.in .head {
	color: #C87046;
	background-image: url(Surface_Black/in.png);
}

.contentMessageIn, .contenthMessageIn, .contentMessageInGroupStart, .MessageInGroupInner, .contenthMessageInGroupStart, .hMessageInGroupInner {
	background-image: url(Surface_Black/in.png);
}

/* -------------------- outgoing messagebox -------------------- */

.out .head {
	color: #4E7DAD;
	background-image: url(Surface_Black/out.png);
}

.contentMessageOut, .contenthMessageOut, .contentMessageOutGroupStart, .MessageOutGroupInner, .contenthMessageOutGroupStart, .hMessageOutGroupInner {
	background-image: url(Surface_Black/out.png);
}

/* -------------------- status support -------------------- */

.status .head {
	color: #C87046;
	background-image: url(Surface_Black/status.png);
}

.contentStatus, .contenthStatus {
	color: #C87046;
	background-image: url(Surface_Black/status.png);
}

.contentStatus .time, .contenthStatus .time {
	color: #A57D6B;
}

/* -------------------- file transfer support -------------------- */

.infile .head, .outfile .head {
	color: #469B46;
	background-image: url(Surface_Black/file.png);
}

.contentFileIn, .contenthFileIn, .contentFileOut, .contenthFileOut {
	color: #469B46;
	background-image: url(Surface_Black/file.png);
}

.contentFileIn .time, .contenthFileIn .time, .contentFileOut .time, .contenthFileOut .time {
	color: #6B916B;
}

/* -------------------- URL support -------------------- */

.inurl .head {
	color: #4E7DAD;
	background-image: url(Surface_Black/url.png);
}

.contentURL, .contenthURL {
	color: #4E7DAD;
	background-image: url(Surface_Black/url.png);
}

.contentURL .time, .contenthURL .time {
	color: #6E8399;
}