/* general options */
body 						{margin: 0;}

.Link-Text					{text-decoration: none; white-space: none;}
.Link-Text:hover				{text-decoration: underline;}

.tzerlink					{text-decoration: none; cursor: pointer;}
.tzerlink:hover					{text-decoration: underline; cursor: pointer;}

.imagebox					{text-align: center; border-width: 0px;}
.InlineImages					{filter: alpha(Opacity=70, FinishOpacity=70);}
.InlineImages:hover				{filter: alpha(Opacity=100, FinishOpacity=100);}

.videobox					{text-align: center; border-style: solid; border-width: 0px;}
.otherbox					{display: none; text-align: center; border-style: solid; border-width: 0px;}
.tzerbildbereich				{text-align: center;}
#tZersDiv					{margin-top: 2px; margin-left: 2px; overflow: hidden; position: fixed; top: 0; display: none; z-index: 200;}
#tZersImg					{height: 16px; width: 16px; position: fixed; display: none; z-index: 30000; top: 15px; right: 15px}

/* images options */
.avatar						{margin-right: 3px} 
.icons						{height: 16px; margin-bottom: -2px; margin-top: 0px; margin-left: 0px; margin-right: 3px; cursor: pointer;}
.tzerbild					{text-align: center; margin-bottom: 0px; margin-top: 0px; margin-left: 0px; margin-right: 0px; cursor: pointer;}
.icon						{margin: 0px 2px 0px 2px;}

/* Fonts */
input						{width: 15px; height: 15px; font-size: 8px; margin: 0px 0px 0px 0px; cursor: pointer;}
#fix						{display: none; position: fixed; right: 0px; top: 0px; margin: 0; line-height: 0px;}
#fix input					{width: 15px; height: 15px;}

/*audioplayer*/
#audioplayer					{margin: 5px 0px 0px 0px;}

/* juick */
#juick_toolbar 					{position: fixed; right: 0px; bottom: 0px; margin: 0; line-height: 0px;}
#juick_toolbar img, .juick-icons		{margin: 2px;}
#juick_toolbar img, .juick-icons, .icons	{filter: alpha(Opacity=65)}
#juick_toolbar img:hover, .juick-icons:hover, .icons:hover	{cursor: pointer; filter: alpha(Opacity=100)}

/* tooltipify options */
.tooltipify					{overflow: hidden; z-index: 1000;}
.tooltipify.left				{margin-left: -10px;}
.tooltipify > span.icon				{border-color: #000 transparent transparent; border-image: none; border-right: 7px solid transparent; border-style: solid; border-width: 7px; content: " "; height: 0; margin-left: 3px; position: absolute; top: 100%; width: 0; z-index: -1;}
.tooltipify.bottom > span.icon			{border-color: transparent transparent transparent; top: -13px;}
.tooltipify.right > span.icon			{border-color: transparent #000 transparent transparent; margin-left: 0; left: -12px; top: 50%; margin-top: -7px;}
.tooltipify.left > span.icon			{border-color: transparent transparent transparent #000; margin-left: -2px; left: 100%; top: 50%; margin-top: -7px;}
.tooltipify > .content				{color: #FFF; font-size: 11px; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 2px 5px;}

/* context menu plugin */
.contextMenuPlugin				{display: none; font-family: tahoma, arial, sans-serif; font-size: 11px; position: absolute; left: 100px; top: 100px; min-width: 100px; list-style-type: none; margin: 0; padding: 0; background-color: #f7f3f7; border: 1px solid #CBC9CA; outline: 1px solid #949694;}
.contextMenuPlugin > li				{margin: 0 0 0 0; padding: 1px; background-repeat: no-repeat;}
.contextMenuPlugin > li > a			{position: relative; display: block; padding: 3px 3px 3px 28px; color: ButtonText; text-decoration: none; margin: 1px;}
.contextMenuPlugin > li > a img			{border: none; position: absolute; left: 1px; margin-top: -2px; width: 16px; height: 16px;}
.contextMenuPlugin > li > a:hover		{border: 1px solid #CDCDCD; outline: 1px solid #b5d3ff; margin: 0; cursor: default; background: #CDCDCD;}
.contextMenuPlugin > li.disabled		{pointer-events: none;}
.contextMenuPlugin > li.disabled a		{color: grey;}
.contextMenuPlugin > li.disabled > a:hover	{border: none; outline: none;}
.contextMenuPlugin > li.divider			{border-top: 1px solid #e7e3e7; border-bottom: 1px solid #ffffff; height: 0; padding: 0; margin: 5px 0 5px 27px;}
.contextMenuPlugin > .header			{background: rgb(90,90,90); position: relative; cursor: default; padding: 3px 3px 3px 3px; color: #ffffff;}
.contextMenuPlugin > .gutterLine		{position: absolute; border-left: 1px solid #e7e3e7; border-right: 1px solid #ffffff; width: 0; top: 0; bottom: 0; left: 26px; z-index: 0;}