@import url('printing.css');

/* Textveränderungen */
.Link-foto			{color: #74B8E6;}
.Link-foto2			{color: #74B8E6;}
.Link-Text			{color: #74B8E6;}
.Link-Text2			{color: #74B8E6;}
.Mail-Text			{color: #74B8E6;}
.Mail-Text2			{color: #74B8E6;}
.tzerlink			{color: #74B8E6;}
.tzerlink2			{color: #74B8E6;}

/* Fonts */
input {
	background: #3e4c58;
	border-top: 1px solid #7a899a;
	border-left: 1px solid #7a899a;
	border-bottom: 1px solid #7a899a;
	border-right: 1px solid #7a899a;
	color: #7a899a;
}

html {
	scrollbar-face-color: #3e4c58;
	scrollbar-highlight-color: #31343c;
	scrollbar-shadow-color: #7a899a;
	scrollbar-arrow-color: #7a899a;
	scrollbar-track-color: #343740;
	scrollbar-darkshadow-color:#31343c; 
	scrollbar-base-color: #7a899a;
	background: url(Asphalt/bg.png) fixed repeat-x;
	background-color: #293946;
	overflow: auto;
	padding: 0px;
	margin: 0px;
	font-size: 13px;
	color: #e3f2fd;
	zoom: 0 !important;
}

a, a:active {
	color: #74B8E6;
	text-decoration: none;
	font-weight: normal;
	cursor:pointer;
}

a:visited {
	color: #C87046;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #74B8E6;
	text-decoration: underline;
	font-weight: normal;
}

div {
	width: auto;
	word-wrap: break-word;
}

.img {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
}

.head {
	height: 24px;
/*	padding-top: 3px;*/
}

.date {
	font-weight: bold;
	float: right;
	font-size: 11px;
	padding: 3px 5px 0px 5px;
}

.name {
	font-weight: bold;
	padding: 3px 5px 0px 5px;
}

.time {
	color: #899CAB;
	font-weight: normal;
	float: right;
	font-size: 11px;
}

.text {
/*	word-break: break-all;*/
	padding: 3px 5px 3px 5px;
}

.avatar {
	float: left;
	padding: 0px 0px 0px 0px;
}

.avatar img {
	height: 32;
}

.avatar object {
	width: 32;
	height: 32;
}

.MessageIn, .MessageOut, .hMessageIn, .hMessageOut, .frame, .Status, .hStatus, .FileIn, .hFileIn, .FileOut, .hFileOut, .URL, .hURL, {
/*	border-top: 1px solid #646464;
	border-bottom: 1px solid #1E1E1E;*/
}

.MessageInGroupInner, .hMessageInGroupInner, .MessageOutGroupInner, .hMessageOutGroupInner {
	border-top: 1px dashed #455f74;
}

.hMessageIn, .hMessageOut, .history, .hStatus, .hFileIn, .hFileOut, .hURL {
	background: url(Asphalt/history.png) no-repeat bottom right;
}


/* -------------------- incoming messagebox -------------------- */

.in .head {
	color: #57c44e;
	background-image: url(Asphalt/in.png);
}

.contentMessageIn, .contenthMessageIn, .contentMessageInGroupStart, .MessageInGroupInner, .contenthMessageInGroupStart, .hMessageInGroupInner {
	/*background-image: url(Asphalt/in.png);*/
}

/* -------------------- outgoing messagebox -------------------- */

.out .head {
	color: #62b0e6;
	background-image: url(Asphalt/out.png);
}

.contentMessageOut, .contenthMessageOut, .contentMessageOutGroupStart, .MessageOutGroupInner, .contenthMessageOutGroupStart, .hMessageOutGroupInner {
	/*background-image: url(Asphalt/out.png);*/
}

/* -------------------- status support -------------------- */

.status {
	color: #A5B3BE;
	background-color: #4A5D68;
	border-top: 1px solid #647688
/*	background-image: url(Asphalt/status.png);*/
}

.contentStatus, .contenthStatus {
	color: #D79A5B;
	/*background-image: url(Asphalt/status.png);*/
}

.contentStatus .time, .contenthStatus .time {
	color: #899CAB;
}

/* -------------------- file transfer support -------------------- */

.infile, .outfile {
	color: #A5B3BE;
	background-color: #4A5D68;
	border-top: 1px solid #647688
	/*background-image: url(Asphalt/file.png);*/
}

.contentFileIn, .contenthFileIn, .contentFileOut, .contenthFileOut {
	color: #84B088;
	/*background-image: url(Asphalt/file.png);*/
}

.contentFileIn .time, .contenthFileIn .time, .contentFileOut .time, .contenthFileOut .time {
	color: #899CAB;
}

/* -------------------- URL support -------------------- */

.inurl {
	color: #A5B3BE;
	background-color: #4A5D68;
	border-top: 1px solid #647688
	/*background-image: url(Asphalt/url.png);*/
}

.contentURL, .contenthURL {
	color: #8BB7D8;
	/*background-image: url(Asphalt/url.png);*/
}

.contentURL .time, .contenthURL .time {
	color: #899CAB;
}