@import url('printing.css');

/* Textveränderungen */
.Link-foto			{color: #74B8E6;}
.Link-foto2			{color: #74B8E6;}
.Link-Text			{color: #74B8E6;}
.Link-Text2			{color: #74B8E6;}
.Mail-Text			{color: #74B8E6;}
.Mail-Text2			{color: #74B8E6;}
.tzerlink			{color: #74B8E6;}
.tzerlink2			{color: #74B8E6;}

/* Fonts */
input {
	background: #4E662F;
	border-top: 1px solid #8EB45F;
	border-left: 1px solid #8EB45F;
	border-bottom: 1px solid #8EB45F;
	border-right: 1px solid #8EB45F;
	color: #8EB45F;
}

html {
	scrollbar-face-color: #4E662F;
	scrollbar-highlight-color: #384922;
	scrollbar-shadow-color: #8EB45F;
	scrollbar-arrow-color: #8EB45F;
	scrollbar-track-color: #2F3E1C;
	scrollbar-darkshadow-color:#384922; 
	scrollbar-base-color: #8EB45F;
	background: url(BeerBottle/bg.png) fixed repeat-x;
	background-color: #394B22;
	overflow: auto;
	padding: 0px;
	margin: 0px;
	font-size: 13px;
	color: #e3f2fd;
	zoom: 0 !important;
}

a, a:active {
	color: #74B8E6;
	text-decoration: none;
	font-weight: normal;
	cursor:pointer;
}

a:visited {
	color: #C87046;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	color: #74B8E6;
	text-decoration: underline;
	font-weight: normal;
}

div {
	width: auto;
	word-wrap: break-word;
}

.img {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
}

.head {
	height: 24px;
/*	padding-top: 3px;*/
}

.date {
	font-weight: bold;
	float: right;
	font-size: 11px;
	padding: 3px 5px 0px 5px;
}

.name {
	font-weight: bold;
	padding: 3px 5px 0px 5px;
}

.time {
	color: #98BB6C;
	font-weight: normal;
	float: right;
	font-size: 11px;
}

.text {
/*	word-break: break-all;*/
	padding: 3px 5px 3px 5px;
}

.avatar {
	float: left;
	padding: 0px 0px 0px 0px;
}

.avatar img {
	height: 32;
}

.avatar object {
	width: 32;
	height: 32;
}

.MessageIn, .MessageOut, .hMessageIn, .hMessageOut, .frame, .Status, .hStatus, .FileIn, .hFileIn, .FileOut, .hFileOut, .URL, .hURL, {
/*	border-top: 1px solid #646464;
	border-bottom: 1px solid #1E1E1E;*/
}

.MessageInGroupInner, .hMessageInGroupInner, .MessageOutGroupInner, .hMessageOutGroupInner {
	border-top: 1px dashed #5F7D3A;
}

.hMessageIn, .hMessageOut, .history, .hStatus, .hFileIn, .hFileOut, .hURL {
	background: url(BeerBottle/history.png) no-repeat bottom right;
}


/* -------------------- incoming messagebox -------------------- */

.in .head {
	color: #6FB469;
	background-image: url(BeerBottle/in.png);
}

.contentMessageIn, .contenthMessageIn, .contentMessageInGroupStart, .MessageInGroupInner, .contenthMessageInGroupStart, .hMessageInGroupInner {
	/*background-image: url(BeerBottle/in.png);*/
}

/* -------------------- outgoing messagebox -------------------- */

.out .head {
	color: #7CABCB;
	background-image: url(BeerBottle/out.png);
}

.contentMessageOut, .contenthMessageOut, .contentMessageOutGroupStart, .MessageOutGroupInner, .contenthMessageOutGroupStart, .hMessageOutGroupInner {
	/*background-image: url(BeerBottle/out.png);*/
}

/* -------------------- status support -------------------- */

.status {
	color: #A8B793;
	background-color: #5C7938;
	border-top: 1px solid #7BA14A
/*	background-image: url(BeerBottle/status.png);*/
}

.contentStatus, .contenthStatus {
	color: #D1A578;
	/*background-image: url(BeerBottle/status.png);*/
}

.contentStatus .time, .contenthStatus .time {
	color: #98BB6C;
}

/* -------------------- file transfer support -------------------- */

.infile, .outfile {
	color: #A8B793;
	background-color: #5C7938;
	border-top: 1px solid #7BA14A
	/*background-image: url(BeerBottle/file.png);*/
}

.contentFileIn, .contenthFileIn, .contentFileOut, .contenthFileOut {
	color: #A8C287;
	/*background-image: url(BeerBottle/file.png);*/
}

.contentFileIn .time, .contenthFileIn .time, .contentFileOut .time, .contenthFileOut .time {
	color: #98BB6C;
}

/* -------------------- URL support -------------------- */

.inurl {
	color: #A8B793;
	background-color: #5C7938;
	border-top: 1px solid #7BA14A
	/*background-image: url(BeerBottle/url.png);*/
}

.contentURL, .contenthURL {
	color: #87B0C2;
	/*background-image: url(BeerBottle/url.png);*/
}

.contentURL .time, .contenthURL .time {
	color: #98BB6C;
}