.name {font-size: 14px; padding-top: 3px;}

.text {font-size: 14px;}

.date {font-size: 12px; padding-top: 4px;}

.time {font-size: 12px;}

.avatar img {height: 34;}

.avatar object {width: 34; height: 34;}