.pm {
    text-decoration: none;
}

.pm:hover {
    text-decoration: underline;
}

.image {
    width: 320px; 
    height: 240px;
}

.avatar {
    width: 32px;
    height: 32px;
}

a {
    color: #2A2A9F;
}
span .nick {
    font: bold;
}

.msgNum {
    text-decoration: none;
    font: bold;
    color: #008613;
}

.msgNum:hover {
    text-decoration: underline;
}

.nick {
    font: bold;
    text-decoration: none;
}

.nick:link {
    font: bold;
    text-decoration: none;
    color: #000000;
}

.nick:hover {
    text-decoration: underline;
}

.controls:link {
    text-decoration: none;
}

.controls:hover {
    text-decoration: underline;
}

.tag {
    color: #242585;
}

.tag:link {
    text-decoration: none;
    font: bold;
}

.tag:hover {
    text-decoration: underline;
}

span .nick {
    font: bold;
}

.msgNum:hover {
    text-decoration: underline;
}

.nick:link {
    font: bold;
    text-decoration: none;
    color: #000000;
}

.nick:hover {
    text-decoration: underline;
}

.controls:link {
    text-decoration: none;
}

.controls:hover {
    text-decoration: underline;
}

.tag:link {
    text-decoration: none;
    font: bold;
}

.tag:hover {
    text-decoration: underline;
}

.bold {
    font: bold;
}

.italic {
    font: italic;
}

.underscore {
    text-decoration: underline;
}

body {
	font-family: Tahoma;
	font-size: 8pt;
	margin: 0px;
	overflow-x:hidden;
	background-color: #fff;	
}

img {
	border: 0; margin: 0 1px 0 1px;
	vertical-align: text-bottom;
}

.In, .Out, .URL, .File, .hIn, .hOut, .hURL, .hFile {
	padding: 3px 8px 4px 8px;
}

.Out, .hOut, .hOutInner {
	background-color: #f5f5f5;
}

.InName, .OutName, .URLName, .FileName, .InDate, .OutDate, .hInDate, .hOutDate, .hInName, .hOutName, .hURLName, .hFileName {
	font-weight: bold;
}

.InName, .hInName, .InDate, .hInDate {
	color: #b20;
}

.OutName, .hOutName, .OutDate, .hOutDate {
	color: #05b;
}

.URLName, hURLName {
	color: #070;
}

.FileName, .hFileName {
	color: #909;
}

.InText, .OutText {

}
.hInText, .hOutText, .hInDate, .hOutDate {
	color: #666;
}
.Status, .hStatus {
	font-size: 7pt;
	padding: 1px 0 2px 0;
	text-align: center;
	color: #999;
}
.InInner, .OutInner, .hInInner, .hOutInner {
	padding: 3px 8px 4px 8px;
}
